{{#link-to 'tasks.new'}}<button class="btn">New task</button>{{/link-to}}
<br>
<br>

{{input value=theFilter type='text' placeholder='Filter task' class='form-control'}}
<!---{-{#link-to 'task' this}}-->
<table class="table table-striped">
  <tbody>
  <tr>
    <th {{action "sortBy" "title"}}>Title</th>
    <th {{action "sortBy" "description"}}>Description</th>
    <th {{action "sortBy" "owner"}}>Owner</th>
    <th>Actions</th>
  </tr>
  {{#each filterTasks}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{user.name}}</td>
      <td>
        {{#link-to 'tasks.edit' id}}<span class="edit glyphicon glyphicon-edit"></span>{{/link-to}}
        <span class="remove glyphicon glyphicon-remove-circle" {{action 'destroy' this}}></span>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}
